In [3]:
import os
import pandas as pd
import math


class IOUtils:
    def __init__(self):
        pass

    @staticmethod
    def existsFile(file_url):

        import os
        from pathlib import Path

        if type(file_url) == str:
            url = Path(file_url).resolve()
        else:
            url = file_url.resolve()

        if url.exists():
            c = 1
            while True:
                if Path(
                    str(url.parent) + "/" + str(url.stem) + f"_{c}" + str(url.suffix)
                ).exists():
                    c += 1
                else:
                    break

            return Path(
                str(url.parent) + "/" + str(url.stem) + f"_{c}" + str(url.suffix)
            )

        print(f"The url of the fIle to be saved is {url}")
        return url

    @staticmethod
    def recentFile(file_url):

        import os
        from pathlib import Path

        if type(file_url) == str:
            url = Path(file_url).resolve()
        else:
            url = file_url.resolve()

        if url.exists():
            c = 1
            while True:
                if Path(
                    str(url.parent) + "/" + str(url.stem) + f"_{c}" + str(url.suffix)
                ).exists():
                    c += 1
                else:
                    break
        else:
            c = 0
        if c == 0:
            return f"File not exists in {url}"

        if c == 1:
            print(
                f'The url of the fIle to be loaded is {Path(str(url.parent) + "/" + str(url.stem + str(url.suffix)))}'
            )
            return Path(str(url.parent) + "/" + str(url.stem + str(url.suffix)))
        else:
            print(
                f'The url of the fIle to be loaded is {Path(str(url.parent) + "/" + str(url.stem + f"_{c-1}" + str(url.suffix)))}'
            )
            return Path(
                str(url.parent) + "/" + str(url.stem + f"_{c-1}" + str(url.suffix))
            )

    @staticmethod
    def checkpoint_save(
        file_path, data, data_type="dataFrame", file_type="csv", index_dataFrame=False
    ):
        import json

        save_path = IOUtils.existsFile(file_path)

        if data_type == "dataFrame" or data_type == "series":
            import pandas as pd

            if file_type == "csv":
                data.to_csv(save_path, index=index_dataFrame, encoding="utf-8")

        if data_type == "list":
            if file_type == "txt":
                with open(save_path, "w", encoding="utf-8") as f:
                    for item in data:
                        f.write(item)
                        f.write("\n")

            if file_type == "jsonl":

                with open(save_path, "w", encoding="utf-8") as f:
                    for item in data.items():
                        f.write(json.dumps(item))
                        f.write("\n")

        if data_type == "dict":
            if file_type == "json":

                with open(save_path, "w", encoding="utf-8") as f:
                    json.dump(data, f, indent="\t")

        return data  # for the neatness of the code

    @staticmethod
    def checkpoint_load(file_path, data_type="dataFrame", file_type="csv"):
        load_path = IOUtils.recentFile(file_path)

        if data_type == "dataFrame" or data_type == "series":
            import pandas as pd

            if file_type == "csv":
                out = pd.read_csv(load_path)
                return out

        if data_type == "list":
            if file_type == "txt":
                out = None

                with open(load_path, "r", encoding="utf-8") as f:
                    out = [i.strip() for i in f.readlines()]
                return out

            if file_type == "jsonl":
                out = []

                with open(load_path, "r", encoding="utf-8") as f:
                    for line in f:
                        out.append(json.loads(line))

                return out

        if data_type == "dict":
            if file_type == "json":

                out = None

                with open(save_path, "w", encoding="utf-8") as f:
                    json.dump(data, f, indent="\t")

                with open(load_path, "r") as f:
                    out = json.loads(f)

                return out


class ParallelizingUtils:

    import multiprocessing

    def __init__(self):
        self.type = None
        self.func = None

        pass

    def do_series(self, series, num_cores, pre_assign=False):

        from multiprocessing import Pool
        import numpy as np
        import pandas as pd

        if num_cores == 1:  ##############somewhere error occurs
            if not pre_assign:
                return self._assign_map(series)
            else:
                return self.func(series)

        se_split = np.array_split(series, num_cores)
        pool = Pool(num_cores)
        if not pre_assign:
            df = pd.concat(pool.map(self._assign_map, se_split))
        else:
            df = pd.concat(pool.map(self.func, se_split))
        pool.close()
        pool.join()

        return df

    def _assign_map(self, serie):
        return serie.progress_map(self.func)

    def _assign_apply(self, df, axis):
        return df.progress_apply(self.func, axis=axis)

    def change_function(self, func):
        self.func = func

    def do_dataFrame(self, df, num_cores, axis=None, pre_assign=False):
        from multiprocessing import Pool
        import numpy as np
        import pandas as pd
        from functools import partial

        if num_cores == 1:
            if not pre_assign:
                if axis == None:
                    return valueError("axis needed")
                return self._assign_apply(df, axis=axis)
            else:
                return self.func(df)

        se_split = np.array_split(df, num_cores)
        pool = Pool(num_cores)
        if not pre_assign:

            if axis == None:
                return valueError("axis needed")

            f = partial(self._assign_apply, axis=axis)
            df = pd.concat(pool.map(f, se_split))

        else:
            df = pd.concat(pool.map(self.func, se_split))
        pool.close()
        pool.join()

        return df


class CheckUtils:
    def __init__(self) -> None:
        pass
        import math

    # def checkValue(func):
    #     from functools import partial
    #     partial
    @staticmethod
    def checkSeries(
        serdf,
        isNan=True,
        isEmpty=True,
        isInf=True,
        isNotInstance=None,
        isNotIn=False,
        isNotInVal=None,
    ):

        def _check_subsequent(
            x,
            isNotInstance=isNotInstance,
            isNan=isNan,
            isEmpty=isEmpty,
            isInf=isInf,
            isnotIn=isNotIn,
            isNotInVal=isNotInVal,
        ):
            out = False

            if isNotInstance is not None:
                x1 = not isinstance(x, isNotInstance)
            else:
                x1 = False

            if isinstance(x, (int, float, complex)):
                x2 = pd.isna(x) if isNan else False
                x3 = math.isinf(x) if isInf else False
                x4 = False

            elif x == None:
                x2 = False
                x3 = False
                x4 = True if isEmpty else False

            else:
                x2 = False
                x3 = False
                x4 = (len(x) == 0) if isEmpty else False

            x5 = isNotInVal not in x if isNotIn else False

            return out | x1 | x2 | x3 | x4 | x5

        if isinstance(serdf, pd.Series):
            return serdf.progress_map(lambda x: _check_subsequent(x))

        elif isinstance(serdf, pd.DataFrame):
            out = serdf.map(lambda x: _check_subsequent(x))  # cellwise

            return out.apply(lambda x: any(x), axis=1)

        else:
            raise ValueError("this is not either series or dataframe.")

    @staticmethod
    def isEmpty(dataframe) -> bool:

        if len(dataframe.index) == 0:
            return True

        return False

In [4]:
length_ni = len(os.listdir("output_ni/"))
length_ri = len(os.listdir("output_ri/"))
output_ni = "/home/hyohyeongjang/phonology/output_ni/start_convert_end_interval_{}"
output_ri = "/home/hyohyeongjang/phonology/output_ri/start_convert_end_interval_{}"

length = length_ri
output = output_ri


def call_dataframe(output, length):
    df = pd.DataFrame()
    for i in range(length):
        x = pd.read_csv(output.format(i + 1) + ".csv")
        df = pd.concat([df, x], axis=0)

    return df


df_ni = call_dataframe(output_ni, length_ni)
filters = CheckUtils.checkSeries(df_ni).map(lambda x: not x)
df_ni = df_ni[filters]
df_ni.columns = ["start", "mid", "end", "name", "consonant", "status"]

df_ri = call_dataframe(output_ri, length_ri)
filters = CheckUtils.checkSeries(df_ri).map(lambda x: not x)
df_ri = df_ri[filters]
df_ri.columns = ["start", "mid", "end", "name", "consonant", "status"]

In [5]:
url_metadata_ni = "/home/hyohyeongjang/phonology/secondary_dataloader_ni.csv"
url_metadata_ri = "/home/hyohyeongjang/phonology/secondary_dataloader_ri.csv"

metadata_ri = pd.read_csv(url_metadata_ri)
metadata_ni = pd.read_csv(url_metadata_ni)

full_ri = metadata_ri.merge(df_ri, on="name", how="right")
full_ni = metadata_ni.merge(df_ni, on="name", how="right")
full_ri["mid_vowel"] = full_ri.vowel.map(lambda x: x[1])
full_ni["mid_vowel"] = full_ni.vowel.map(lambda x: x[1])

full_ri[full_ri.consonant == "R"].groupby(["sex", "age", "principal_residence"]).filter(
    lambda x: x["sex"].count() > 30
).groupby(["sex", "age", "principal_residence"]).count()
full_ni[full_ni.consonant == "N"].groupby(["sex", "age", "principal_residence"]).filter(
    lambda x: x["sex"].count() >= 20
).groupby(["sex", "age", "principal_residence"]).count()
target_ri = full_ri[
    full_ri.apply(
        lambda x: (
            x["principal_residence"] == "경기" or x["principal_residence"] == "서울"
        )
        and x["age"] == "20대",
        axis=1,
    )
]
target_ni = full_ni[
    full_ni.apply(
        lambda x: (
            x["principal_residence"] == "경기" or x["principal_residence"] == "서울"
        )
        and x["age"] == "20대",
        axis=1,
    )
]
target_ni["ratio"] = target_ni.apply(
    lambda x: round((x["mid"] - x["start_y"]) / (x["end_y"] - x["start_y"]), 3), axis=1
)
target_ri["ratio"] = target_ri.apply(
    lambda x: round((x["mid"] - x["start_y"]) / (x["end_y"] - x["start_y"]), 3), axis=1
)

target_ri[target_ri.consonant == "R"].to_csv(
    "target/target_ri_r.csv", encoding="euc-kr"
)
target_ri[target_ri.consonant == "N"].to_csv(
    "target/target_ri_n.csv", encoding="euc-kr"
)
target_ri[(target_ri.consonant != "N") & (target_ri.consonant != "R")].to_csv(
    "target/target_ri_o.csv", encoding="euc-kr"
)
target_ni[target_ni.consonant == "R"].to_csv(
    "target/target_ni_r.csv", encoding="euc-kr"
)
target_ni[target_ni.consonant == "N"].to_csv(
    "target/target_ni_n.csv", encoding="euc-kr"
)
target_ni[(target_ni.consonant != "N") & (target_ni.consonant != "R")].to_csv(
    "target/target_ni_o.csv", encoding="euc-kr"
)

/tmp/ipykernel_21872/1931212684.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_ni['ratio'] = target_ni.apply(lambda x: round((x['mid'] - x['start_y']) / (x['end_y'] - x['start_y']),3) , axis = 1)
/tmp/ipykernel_21872/1931212684.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_ri['ratio'] = target_ri.apply(lambda x: round((x['mid'] - x['start_y']) / (x['end_y'] - x['start_y']),3) , axis = 1)

In [18]:
full_ri[full_ri.consonant == "R"].groupby(["sex", "age", "principal_residence"]).filter(
    lambda x: x["sex"].count() > 30
).groupby(["sex", "age", "principal_residence"]).count()[["name", "word"]]

                             name  word
sex age principal_residence
남성  20대 경기                     39    39
        서울                     43    43
여성  20대 경기                     45    45
        부산                     31    31
        서울                     46    46
    30대 경기                     31    31

In [23]:
full_ni[full_ni.consonant == "N"].groupby(["sex", "age", "principal_residence"]).filter(
    lambda x: x["sex"].count() >= 20
).groupby(["sex", "age", "principal_residence"]).count()[["name", "word"]]

                             name  word
sex age principal_residence
남성  20대 경기                     22    22
여성  10대 경북                     28    28
        대구                     23    23
    20대 경기                     20    20
        서울                     47    47
    30대 경기                     31    31
        서울                     27    27
    40대 경기                     36    36
    50대 서울                     37    37

In [9]:
target_ni_n = pd.read_csv("target_token_processed/target_ni_n.csv", encoding="euc_kr")
target_ni_r = pd.read_csv("target_token_processed/target_ni_r.csv", encoding="euc_kr")
target_ni_o = pd.read_csv("target_token_processed/target_ni_o.csv", encoding="euc_kr")
target_ri_n = pd.read_csv("target_token_processed/target_ri_n.csv", encoding="euc_kr")
target_ri_r = pd.read_csv("target_token_processed/target_ri_r.csv", encoding="euc_kr")
target_ri_o = pd.read_csv("target_token_processed/target_ri_o.csv", encoding="euc_kr")

target_ni_o.consonant = "Other"
target_ri_o.consonant = "Other"
target_ni = pd.concat([target_ni_o, target_ni_n, target_ni_r], axis=0)
target_ri = pd.concat([target_ri_o, target_ri_n, target_ri_r], axis=0)

ni1 = (
    target_ni.groupby(["consonant", "token"])["ratio"]
    .mean()
    .round(decimals=3)
    .unstack()
    .fillna("x")
)
ni2 = target_ni.groupby(["consonant", "token"])["ratio"].count().unstack().fillna(0)
ni1.index = ["N-ratio", "Other-ratio", "R-ratio"]
ni2.index = ["N-count", "Other-count", "R-count"]
ni2 = ni2.astype(int)

ri1 = (
    target_ri.groupby(["consonant", "token"])["ratio"]
    .mean()
    .round(decimals=3)
    .unstack()
    .fillna("x")
)
ri2 = target_ri.groupby(["consonant", "token"])["ratio"].count().unstack().fillna(0)
ri1.index = ["N-ratio", "Other-ratio", "R-ratio"]
ri2.index = ["N-count", "Other-count", "R-count"]
ri2 = ri2.astype(int)

df = pd.concat([ri1, ri2], axis=0).T
df1 = df[df["R-ratio"].map(lambda x: x != "x")].sort_values(
    by="R-ratio", ascending=False
)
df2 = df[df["R-ratio"] == "x"]
df = pd.concat([df1, df2], axis=0)
target_ri = df[df["R-count"] > 5]

df = pd.concat([ni1, ni2], axis=0).T
df1 = df[df["R-ratio"].map(lambda x: x != "x")].sort_values(
    by="R-ratio", ascending=False
)
df2 = df[df["R-ratio"] == "x"]
df = pd.concat([df1, df2], axis=0)
target_ni = df[df["N-count"] > 5]

target_ri["correct_ratio"] = target_ri.apply(
    lambda x: round(
        (x["R-count"] / (x["N-count"] + x["Other-count"] + x["R-count"])), 2
    ),
    axis=1,
)
target_ni["correct_ratio"] = target_ni.apply(
    lambda x: round(
        (x["N-count"] / (x["N-count"] + x["Other-count"] + x["R-count"])), 2
    ),
    axis=1,
)
target_ri = target_ri.sort_values(by=["correct_ratio", "R-ratio"], ascending=False)
target_ni = target_ni.sort_values(by=["correct_ratio", "N-ratio"], ascending=False)

/tmp/ipykernel_18335/643313151.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_ni['correct_ratio'] = target_ni.apply(lambda x: round((x["N-count"] / (x["N-count"] + x["Other-count"] + x["R-count"])), 2), axis = 1)

In [10]:
target_ni

      N-ratio Other-ratio R-ratio N-count Other-count R-count  correct_ratio
token
뉴욕      0.788           x       x       8           0       0           1.00
니트      0.722           x   0.696       9           0       1           0.90
뉴스      0.686           x   0.706      54           0       7           0.89
뉴진스     0.539        0.11   0.751     7.0         1.0     2.0           0.70

In [11]:
target_ri

      N-ratio Other-ratio R-ratio N-count Other-count R-count  correct_ratio
token
리스크         x           x   0.917       0           0      12           1.00
리바이스        x           x   0.613       0           0       6           1.00
리사          x       0.434   0.738       0           1       6           0.86
리뷰      0.004       0.307   0.618     1.0         4.0    29.0           0.85
리스트     0.685       0.923   0.648     2.0         1.0    12.0           0.80
리듬      0.566       0.368   0.812     1.0         1.0     7.0           0.78
리메이크     0.49       0.517   0.794     1.0         3.0    12.0           0.75
리더      0.264       0.228   0.724     1.0         3.0    12.0           0.75
리그      0.204       0.279     0.8     2.0         5.0     9.0           0.56

In [120]:
target_ni

      N-ratio Other-ratio R-ratio N-count Other-count R-count  correct_ratio
token
뉴욕      0.788           x       x       8           0       0           1.00
니트      0.722           x   0.696       9           0       1           0.90
뉴스      0.686           x   0.706      54           0       7           0.89
니체      0.668        0.58       x       4           1       0           0.80
뉴진스     0.539        0.11   0.751     7.0         1.0     2.0           0.70

In [121]:
target_ri

      N-ratio Other-ratio R-ratio N-count Other-count R-count  correct_ratio
token
리스크         x           x   0.917       0           0      12           1.00
리버풀         x           x   0.765       0           0       5           1.00
리조트         x           x    0.65       0           0       4           1.00
리바이스        x           x   0.613       0           0       6           1.00
리가          x           x   0.526       0           0       4           1.00
리사          x       0.434   0.738       0           1       6           0.86
리뷰      0.004       0.307   0.618     1.0         4.0    29.0           0.85
리무진     0.616           x   0.721       1           0       5           0.83
리코더     0.792           x   0.922       1           0       4           0.80
리모델링        x       0.897   0.858       0           1       4           0.80
리스트     0.685       0.923   0.648     2.0         1.0    12.0           0.80
리듬      0.566       0.368   0.812     1.0         1.0     7.0           0.78
리메이크     0.49       0.517   0.794     1.0         3.0    12.0           0.75
리더      0.264       0.228   0.724     1.0         3.0    12.0           0.75
리그      0.204       0.279     0.8     2.0         5.0     9.0           0.56